@import "styles/breakpoints.scss";
@import "styles/variables.scss";

.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .companyLogo {
    height: 25px;

    @include media(">=laptop") {
      height: 35px;
    }
  }

  .linkBox {
    display: flex;
    gap: 10px;

    font-size: 20px;

    @include media(">=laptop") {
      font-size: 25px;
      gap: 70px;
    }
  }

  .navIcon {
    padding: 15px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;

  img {
    width: 300px;

    @include media(">=laptop") {
      width: 350px;
    }
  }

  @include media(">=tablet") {
    height: calc(100vh - 105px);
    margin-top: 0;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;

  text-align: justify;

  @include media(">=tablet") {
    width: 55%;
  }
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;

  @include media(">=tablet") {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .horizontalLine {
    height: 2px;
    width: 145px;
    background-color: var(--arctic-color);
  }
}

.boldTxt {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: var(--arctic-color);

  @include media(">=laptop") {
    font-size: 24px;
  }
}

.tileBox {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  gap: 40px;

  @include media(">=tablet") {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

.tile {
  width: 300px;
  padding: 20px;

  border-left: 2px solid var(--arctic-color);

  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 14px;
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 15px;
}
